/* Main container */
.home-container {
  min-height: 100vh;
  background-color: rgba(247, 246, 242, 0.932); /* cream white */
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  padding: 40px;
  font-family: "Segoe UI", sans-serif;
}

/* Header */
.header h1 {
  color: #1f7a5b; /* deep green */
  font-size: 32px;
  margin-bottom: 60px;
}

/* Buttons container */
.role-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

/* Buttons */
.btn {
  padding: 14px 32px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

.investor-btn {
  background-color: #1f7a5b;
  color: #ffffff;
}

.seller-btn {
  background-color: #dfeee8; /* light green cream */
  color: #1f7a5b;
}

.btn:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}

/* Login prompt */
.login-prompt {
  text-align: center;
  font-size: 14px;
  color: #555;
}

.login-prompt span {
  color: #1f7a5b;
  font-weight: 600;
  cursor: pointer;
}

/* Footer message */
.footer-message {
  text-align: center;
  font-size: 13px;
  color: #777;
}