/* Main container */
.home-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  padding: 10px;
  font-family:'Times New Roman', Times, serif
}

/* Header */
.header h1 {
  color: #1f7a5b; /* deep green */
  font-size: 40px;
  margin-bottom: 50px;
}

/* Buttons container */
.role-buttons {
  margin-top: auto;
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-bottom: 10px;
}

/* Buttons */
.btn {
  padding: 14px 32px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

.investor-btn {
  background-color: #1f7a5b;
  color: #ffffff;
}

.seller-btn {
 background-color: black;/* light green cream */
  color: #1f7a5b;
}

.btn:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}

/* Login prompt */
.login-prompt {
  margin-top: auto;
  margin-bottom: 1%;
  text-align: center;
  font-size: 24px;
  color: #555;
}

.login-prompt span {

  color: black;
  font-weight: 1000;
  cursor: pointer;

}

/* Footer message */
.footer-message {
  text-align: center;
  font-size: 25px;
  color: #777;
}
.logo{
  text-align: center;
}