body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* NAVBAR */
.navbar {
  background-color: #1F3D2B;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar li {
  cursor: pointer;
}

/* HOME SECTION */
.home {
  padding: 70px;
  text-align: center;
  background-color: #F5F1E8;
}

.home h2 {
  color: #1F3D2B;
  margin-bottom: 15px;
}

.home p {
  color: #333;
}

.home button {
  margin-top: 25px;
  padding: 12px 30px;
  background-color: #1F3D2B;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

/* LOGIN */
.login {
  width: 320px;
  margin: 50px auto;
  padding: 30px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.login h2 {
  text-align: center;
  color: #1F3D2B;
  margin-bottom: 20px;
}

.login input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
}

.login button {
  width: 100%;
  padding: 10px;
  background-color: #1F3D2B;
  color: white;
  border: none;
  cursor: pointer;
}